*{
    min-width: 0;
}

body{
    background-color: #F1DABF;
    margin:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Headings{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    margin-bottom: 40px;
}

.Heading{
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.Subheading{
    font-size: 20px;
    text-align: justify;
}

.Menu{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    margin-bottom: 40px;
}

.menu_item{
    width:100%;
    height: 20px;
    background: #3C2A21;
    border:solid 1px black;
    color:white;
    padding: 20px;
    
    
    display:flex;
    align-items: center;
    justify-content: center;
}


.Media{
    width: 100%;
    height: 500px;
    display:flex;
    flex-direction: row;
    justify-items: center;
    justify-content: flex-start;
    
    gap:2%;
}

.Tips{
    width:20%;
    height:100%;
    background: #A4907C;
    border-radius:10px;
    
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Tips_heading{
    font-size:30px;
    margin-left;
    color:white;
    margin-top: 50px;
    
    
}
.Tips_Comment{
    width: 90%;
    min-height:50px;
    background-color: white;
    font-size: 20px;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
}

.Content{
    width:80%;
    height:100%;
    
    background-color: white;
    
    display:flex;
    flex-direction:row;
    justify-content: center;
    
    border-radius:10px;
}

.Box{
    width:30%;
    height:20%;
    
    
    padding: 2%;
   
    display:flex;
    flex-direction: column;
}
.Picture{
    width:60%;
    height:50%;
    padding: 2%;
    margin-top: 50px;
    
    
}
.Picture img{
    width:100%;
    object-fit: cover;
    
}
.Introduction{
    width:70px;
    font-size: 35px;
    margin-left;
    padding: 3%;
    margin-bottom: 30px;
    margin-top: 30px;
    
    
}

.Description{
    font-size:25px;
    padding: 3%;
    margin-left;
    
}

.Videos{
    width:20%;
    height:100%;
    background-color: white;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    
    
    
    
}

.Videos_heading{
    width:50px;
    font-size:25px;
    margin-top: 50px;
    margin-left: 10px;
    
    
}

.Video_1{
    margin-top: 20px;
    
    
}

.Video_2{
    margin-top: 20px;
}